header {
            background-color: #386e18;
            font-family: Arial, sans-serif;
            color: white;
            text-decoration: none;
        
            li a {
                color: white;
                text-decoration: none;
                

            } 

            li a:hover {
                /*color: #d4c885;*/
                font-weight: bold;
            }
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #e0fdc4
        }

        footer {
            height: 40px;
            background-color: #386e18;
            font-family: Arial, sans-serif;
            color: white;
            text-decoration: none;
            font-size: 12px;
        }